<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498747335800-3m5a4a2m6dqvqrf0pedul2af2u05qivm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498747335800-3m5a4a2m6dqvqrf0pedul2af2u05qivm</string>
	<key>API_KEY</key>
	<string>AIzaSyB0e2U8sTa4v06Sb8E7MbiD9Q_qq-xpBig</string>
	<key>GCM_SENDER_ID</key>
	<string>498747335800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kattaForm</string>
	<key>PROJECT_ID</key>
	<string>kattaform</string>
	<key>STORAGE_BUCKET</key>
	<string>kattaform.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498747335800:ios:b1ec82409404cb4e90398d</string>
</dict>
</plist>